@model HomeVM
@{
    ViewData["Title"] = "Eduhome - Educational HTML Template";
    int midPoint = (int)Math.Ceiling((decimal)Model.Events.Count() / 2);
    var firstHalfEvents = Model.Events.Take(midPoint).ToList();
    var secondHalfEvents = Model.Events.Skip(midPoint).ToList();
}

<!-- Header Area End -->
<!-- Background Area Start -->
<section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        @foreach (var image in Model.SliderContents)
        {
            @foreach (var slider in image.Content)
            {
                <div class="single-slide item" style="background-image: url(/img/slider/@image.ImageURL">
                    <!-- Start Slider Content -->
                    <div class="slider-content-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-left-5">
                                    <div class="slide-content-wrapper">
                                        <div class="slide-content">
                                            <h3>@slider.Header</h3>
                                            <p>@slider.Subtitle</p>
                                            <a class="default-btn" href="about.html">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Slider Content -->
                </div>
            }
        }
        <!-- End Slingle Slide -->
    </div>
</section>
<!-- Background Area End -->
<!-- Notice Start -->
<section class="notice-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Notice")
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right">
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>PROFESSIONAL TEACHER</h3>
                        <p>@Model.NoticeRight.FirstOrDefault(v => v.Key == "ProTeacher").Value</p>
                    </div>
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>Online courses</h3>
                        <p>@Model.NoticeRight.FirstOrDefault(v => v.Key == "OnlineCourses").Value</p>
                    </div>
                    <div class="single-notice-right">
                        <h3>easy to addmission</h3>
                        <p>@Model.NoticeRight.FirstOrDefault(v => v.Key == "Addmission").Value</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Choose Start -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                <div class="choose-content text-left">
                    <h2>@Model.ChooseContent.Header.ToUpper()</h2>
                    @Html.Raw(Model.ChooseContent.Description)
                    <a class="default-btn" asp-action="Index" asp-controller="Course">view courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Course", 3)
    </div>
</div>
<!-- Courses Area End -->
<!-- Event Area Start -->
<div class="event-area one text-center pt-140 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                @foreach (var ev in firstHalfEvents)
                {
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a asp-action="detail" asp-controller="event" asp-route-id="@ev.Id">@ev.EventStartDate.ToString("dd") <span>@ev.EventEndDate.ToString("MMM")</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a asp-action="detail" asp-controller="event" asp-route-id="@ev.Id">@ev.Name</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@ev.EventStartDate.ToString("h:mm tt") - @ev.EventEndDate.ToString("h:mm tt")</li>
                                    <li><i class="fa fa-map-marker"></i>@ev.City</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" asp-action="detail" asp-controller="event" asp-route-id="@ev.Id">join now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- mobile view 4 column show-->
            <div class="col-md-6 hidden-sm hidden-xs">
                @foreach (var ev in secondHalfEvents)
                {
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a asp-action="detail" asp-controller="event" asp-route-id="@ev.Id">@ev.EventStartDate.ToString("dd") <span>@ev.EventEndDate.ToString("MMM")</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a asp-action="detail" asp-controller="event" asp-route-id="@ev.Id">@ev.Name</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@ev.EventStartDate.ToString("h:mm tt") - @ev.EventEndDate.ToString("h:mm tt")</li>
                                    <li><i class="fa fa-map-marker"></i>@ev.City</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" asp-action="detail" asp-controller="event" asp-route-id="@ev.Id">join now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Testimonial")
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Blog", 3)
    </div>
</div>
<!-- Blog Area End -->
<!-- Subscribe Start -->
