@model IEnumerable<Blog>
<div class="row">
    @foreach (var blog in Model)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-blog">
                <div class="blog-img">
                    <a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id">
                        <img src="~/img/blog/@blog.BlogImages.FirstOrDefault(i=>i.IsMain).ImageURL" alt="blog">
                    </a>
                    <div class="blog-hover">
                        <a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="blog-content">
                    <div class="blog-top">
                        <p>By @blog.WrittenBy /  @blog.WrittenDate.ToString("MMM dd, yyyy") /  <i class="fa fa-comments-o"></i> 4todo</p>
                    </div>
                    <div class="blog-bottom">
                        <h2><a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id">@blog.Header </a></h2>
                        <a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id">read more</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>